button:hover {
    color: theme('textColor.slate.400');
}

button {
    transition: 200ms;
    border: 1px solid; 
}

.room {
    border: .05em solid;
    margin-bottom: .5em;
}

td {
    padding: 0;
}

.thing {
    border: 2px solid;
}
